@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    i[class*="fi-rr-"]:before,
    i[class^=fi-rr-]:before,
    span[class*=fi-rr-]:before,
    span[class^=fi-rr-]:before {
        font-family: uicons-regular-rounded !important;
        font-style: normal;
        font-weight: 400 !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    select option {
        font-family: inherit;
        font: -moz-pull-down-menu;
        font-size: inherit;
    }

    .header {
        @apply font-semibold leading-relaxed text-[#262626]
    }

    .main-header {
        @apply header text-4xl lg:text-[3.125rem] lg:leading-tight
    }

    .secondary-header {
        @apply header text-3xl leading-tight sm:text-[2.188rem] lg:text-[3.125rem]
    }

    .fr {
        @apply relative top-1
    }

    .btn {
        @apply rounded-[8px] font-medium py-1.5 leading-8 text-[14px] px-6 tracking-wider
    }

    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        @apply hidden
    }

    .no-number-increment::-webkit-inner-spin-button,
    .no-number-increment::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-number-increment {
        -moz-appearance: textfield;
    }

    .input-form {
        @apply form-input border border-[#dae1e7] focus:ring-0 rounded-md py-2.5 px-3 w-full block hover:border-brand-purple hover:outline hover:outline-brand-purple hover:outline-1 hover:outline-offset-[2.5px] focus:outline focus:outline-brand-purple focus:border-brand-purple focus:outline-1 focus:outline-offset-[2.5px] transition-all duration-100 ease-in-out
    }

    .input-select {
        @apply form-select input-form
    }

    .dashboard-input {
        @apply input-form border-[#cccccc] placeholder:text-[#CCCCCC] text-[#262626] bg-transparent focus:ring-0 hover:ring-0 focus:outline-0 hover:outline-0 hover:border-[#cccccc] focus:border-[#cccccc]
    }

    .dashboard-select {
        @apply input-select dashboard-input
    }

    .input-checkbox {
        @apply form-checkbox text-brand-purple border-[#979797] rounded p-2 xl:p-2 md:px-1 md:py-0.5 cursor-pointer ring-offset-white hover:ring-1 hover:ring-offset-2 hover:ring-brand-purple focus-within:ring-1 focus-within:ring-offset-2 focus-within:ring-brand-purple
    }

    .custom-scrollbar {
        scrollbar-width: thin;
        -ms-overflow-style: thin;
        scrollbar-color: #6912aa #ffffff;
    }

    .custom-scrollbar::-webkit-scrollbar {
       @apply h-[.375rem] w-[.25rem]
    }

    .custom-scrollbar::-webkit-scrollbar:vertical {
        @apply w-[.77rem];
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply rounded-[.375rem] bg-[#E6E6E6]
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply box-border rounded-[.375rem] border-8 border-black bg-clip-content bg-brand-purple
    }
}
